@charset "utf-8";
/* CSS Document */

.board{
	top: 0px;
	width: 840px;
	margin: 0 auto;
		
}
.images{
	
	position: relative;
}
.overlay{
	background-color: rgba(1,1,1 0.1);
	position: absolute;
	width: 610px;
	width: 70%;
	height: 70%;
	top: 0;
	left: 0;
	
}
h2{
	color: red;
}